VITE_SUPABASE_URL=https://ktrebirmqmckvnibhnsl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0cmViaXJtcW1ja3ZuaWJobnNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MTU2NzMsImV4cCI6MjA4ODI5MTY3M30.WLFVw6kCPSv1d9ZxtswU6zqmNMU_HoC3k6Z8_qPRmXg
VITE_PROD_WEBHOOK_BASE_URL=https://n8n-production-5c06.up.railway.app/webhook
VITE_PROD_API_KEY=rx-chat-sk-2026-M9aG
VITE_DEV_WEBHOOK_BASE_URL=https://n8n-production-5c06.up.railway.app/webhook
VITE_DEV_API_KEY=rx-chat-sk-2026-M9aG
VITE_PROD_AGENT_KEY=rx-chat-sk-2026-M9aG
VITE_DEV_AGENT_KEY=rx-chat-sk-2026-M9aG
VITE_PROD_ADMIN_KEY=rx-chat-sk-2026-M9aG
VITE_DEV_ADMIN_KEY=rx-chat-sk-2026-M9aG